.btn-exp-raspberry {
    -webkit-transition: all 0.14s ease-in-out;
    transition: all 0.14s ease-in-out;
    color: #fff;
    border-color: #af1685;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, #d81ba4),
        color-stop(50%, #af1685)
    );
    background: linear-gradient(to right, #d81ba4 50%, #af1685 50%);
    background-size: 201% 100%;
    background-position: right bottom;
}
.btn-exp-raspberry:focus,
.btn-exp-raspberry.focus,
.btn-exp-raspberry:hover,
.btn-exp-raspberry:active,
.btn-exp-raspberry.active {
    background-position: left bottom;
    color: #fff;
    border-color: #d81ba4;
    -webkit-box-shadow: 0 3px 15px rgba(175, 22, 133, 0.6);
    box-shadow: 0 3px 15px rgba(175, 22, 133, 0.6);
}
